@import './default.scss';
a{
    color: aliceblue !important;
    letter-spacing: 4px !important;
}
.MuiButton-root:hover{
    background-color: rgba(25, 118, 210, 0.04) !important;
    color: aliceblue;
}
.main{
    font-family: Comfortaa;
    h1, h2{
        margin: $h1;
        padding: 20px 0;
    }
    button{
        position: absolute;
        bottom: 0;
        right: -1px;
        height: 100%;
    }
    .movies{
        .post{
            border-top-left-radius: 35px;
            border-top-right-radius: 35px;
            overflow: hidden;
            img{
                width: 180px;
                height: 250px;
                border-radius: 34px;
            }
            .vote{
                -webkit-box-shadow: 4px -1px 4px -2px rgb(0 0 0 / 77%);
                -moz-box-shadow: 4px -1px 4px -2px rgb(0 0 0 / 77%);
                box-shadow: 4px -1px 4px -2px rgb(0 0 0 / 77%);
                width: 40px;
                height: 40px;
                font-weight: bold;
            }
        }
        }
    @media screen and  (max-width: 554px ){
        .detail_vote{
            padding: 20px;
            font-size: inherit;
        }
        .app_title{
            font-size: 3rem;
        }
    }
}